<ion-view view-title="Gameboard">
  <ion-content id="game-board" class="padding" scroll="false">

    <button class="button button-outline button-assertive button"> Restart </button>
    <button class="button button-outline button-positive button" ng-click="startNew()"> Start a new game </button>

    <div class="display">
      <h1>21</h1>
      <p>Result: {{result ? result : 0}}</p>
    </div>

    <div id="cards" class="row">
      <div class="tile col">{{deal[0]}}</div>
      <div class="tile col">{{deal[1]}}</div>
      <div class="tile col">{{deal[2]}}</div>
      <div class="tile col">{{deal[3]}}</div>

      <!--<div ng-include="'templates/cards.tpl.html'"></div>-->
    </div>
    <div class="row">
      <div class="tile col">+</div>
      <div class="tile col">-</div>
      <div class="tile col">*</div>
      <div class="tile col">/</div>
      <div class="tile col">(</div>
      <div class="tile col">)</div>
    </div>

    <div class="tile-drop">
      <span ng-hide="">Tiles goes here</span>
    </div>

  </ion-content>
</ion-view>
