<ion-view view-title="Gameboard">
  <ion-content id="game-board" class="padding" scroll="false">

    <button class="button button-outline button-assertive button" ng-click="restart()"> Restart </button>
    <button class="button button-outline button-positive button" ng-click="startNew()"> Start a new game </button>

    <div class="display">
      <h1>21</h1>
      <p>Result: {{result ? result : 0}}</p>
    </div>

    <div id="cards" class="row">
      <!--<div class="tile col animated" ng-repeat="n in cards track by $index">{{n}}</div>-->
      <div class="tile col animated" ng-repeat="n in pokerCards track by $index">
        <img src="../img/cards/{{n}}"></div>
      </div>
    </div>

    <div class="row operatorHolder">
      <div class="tile col operator">+</div>
      <div class="tile col operator">-</div>
      <div class="tile col operator">*</div>
      <div class="tile col operator">/</div>
      <div class="tile col operator">(</div>
      <div class="tile col operator">)</div>
    </div>

    <div class="tile-drop">
      <!--<span ng-hide="">Tiles goes here</span>-->
    </div>

  </ion-content>
</ion-view>

<!--<script type="text/ng-template" id="cardTpl">-->
<!--<div class="tile col animated">{{deal[0]}}</div>-->
<!--<div class="tile col animated">{{deal[1]}}</div>-->
<!--<div class="tile col animated">{{deal[2]}}</div>-->
<!--<div class="tile col animated">{{deal[3]}}</div>-->
<!--</script>-->
